.color{
    &_white{
        background-color: #fff;
    }
    &_green{
        background-color: rgb(15, 233, 62);
    }
    &_red{
        background-color: rgb(117, 8, 8);
    }
    &_check{
        background-color: #fff;
    } 
}
