.footer{
    &__container{
        padding-bottom: 24px;
        border-top: 1px solid $grey;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        'category social contacts' 
        'copyright  .  development';
        gap: 26px 20px;

        @include laptop{
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include tablet{
            grid-template-columns: 1fr 2fr 1fr;
        }
        @include mobile{
            grid-template-columns: 1fr max-content;
            grid-template-areas: 
            'category social'
            'contacts contacts' 
            'development development'
            'copyright copyright';    
        }
    }

    &__item{

        padding-top: 51px;
        &_category{
            grid-area: category;
        }

        &_social{
            grid-area: social;
            justify-self: center;
        }

        &_contacts{
            grid-area: contacts;
        }

        &_copyright{
            grid-area: copyrigt;
            align-self: flex-end;
        }

        &_development{
            grid-area: development;
        }

    }
    
}




